.home {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 165px;
    height: 165px;
    margin: 0 auto;
    padding: 15px 0 45px 0;
}

.imageWrapper {
    width: 100%;
    height: 660px;
    position: relative;
}

.flowerHero {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}

.overlayText {
    position: absolute;
    width: 100%;
    max-height: 100%;
    top: 0%;
    left: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* === HEADINGS INSIDE .overlayText === */

.overlayText h1 {
    font-family: "Cormorant";
    font-size: 70px;
    text-transform: uppercase;
    color: white;
    margin-top: 60px;
    margin-bottom: 5px;
}

.overlayText h2 {
    font-family: "Cormorant";
    font-size: 24px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 40px;
}

/* === PARAGRAPH CONTAINER === */

.paragraphContainer {
    width: 50%;
}

.paragraphContainer p {
    padding: 0 20px;
    font-family: "Cormorant";
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    line-height: 2.0;
    font-weight: 600;
}

/* === BUTTON CONTAINER === */

.buttonContainer {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

/* === BUTTON LINK === */

.inquiryButton {
    text-decoration: none;
    width: 240px;
    font-family: "Cormorant";
    font-style: italic;
    color: transparent;
    font-size: 24px;
    border: 1px solid white;
    padding: 5px 5px;
    margin-top: 40px;
    background-color: white;
}