.home {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 165px;
    height: 165px;
    margin: 0 auto;
    padding: 15px 0 45px 0;
}

.imageWrapper {
    width: 100%;
    height: 660px;
    position: relative;
}

.flowerHero {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}

.overlayText {
    position: absolute;
    width: 100%;
    top: 0%;
    left: 0;
    /* transform: translate(-50%, -50%); */
    text-align: center;
    padding: 1rem;
    /* background-color: rgba(0, 0, 0, 0.4); */

    h1 {
        font-family: "Cormorant";
        font-size: 96px;
        text-transform: uppercase;
        color: white;

    }

}