.home {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Hero Section */

.logo {
  width: 165px;
  height: 165px;
  margin: 0 auto;
  padding: 15px 0 45px 0;
}

.imageWrapper {
  width: 100%;
  height: 660px;
  position: relative;
}

.flowerHero {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.overlayText {
  position: absolute;
  width: 100%;
  max-height: 100%;
  top: 0%;
  left: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlayText h1 {
  font-family: 'Cormorant';
  font-size: 70px;
  text-transform: uppercase;
  color: white;
  margin-top: 60px;
  margin-bottom: 5px;
}

.overlayText h2 {
  font-family: 'Cormorant';
  font-size: 24px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 40px;
}

.paragraphContainer {
  width: 50%;
}

.paragraphContainer p {
  padding: 0 20px;
  font-family: 'Cormorant';
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  line-height: 2;
  font-weight: 600;
}

.buttonContainer {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

/*Section Intro */

.introSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 60px 0px;
  gap: 60px;
}

.introSection h3 {
  font-family: 'Cormorant';
  font-size: 36px;
  text-transform: uppercase;
  max-width: 40%;
  color: var(----offBlack);
  line-height: 1.4;
  letter-spacing: 5px;
  margin-top: 60px;
}

.introSection h3 span {
  position: relative;
}
.introSection h3 span:after {
  content: '';
  position: absolute;
  left: -2px;
  bottom: -2px;
  width: 66%;
  height: 1px;
  background-color: var(--offPink);
}

.introSection > p {
  max-width: 50%;
  font-size: 18px;
  color: var(----offBlack);
  line-height: 1.6;
  margin-bottom: 60px;

  font-family:
    'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
  font-weight: normal;
}

.keywordsContainer {
  font-family: 'Cormorant';
  font-size: 18px;
  text-transform: uppercase;
  color: var(----offBlack);
  text-align: left;
  width: 100%;
  letter-spacing: 5px;
}

.keywordsContainer > p span::before {
  content: '';
  display: inline-block;
  width: 140px;
  height: 1px;
  background-color: currentColor;
  margin: 0px 20px 5px 20px;
}

.keywordsContainer > p span:last-child::after {
  content: '';
  display: inline-block;
  width: 140px;
  height: 1px;
  background-color: currentColor;
  margin-bottom: 5px;
  margin-left: 20px;
}

.dummySection {
  height: 200px;
  background-color: antiquewhite;
}
